@import url(https://www.google.com/fonts#UsePlace:use/Collection:Lobster);

body {
    background-color: #ccebff !important;
    background-repeat: no-repeat;
    background-size: cover;    
}

#personal{
    border-radius: 25px;
    text-align: center;
    color: #001133;
    margin: 25px;
    border-style: solid;
    border-color: #ff0000 #0000ff;
    
}

#table {
    background: white;
    color: #001133;
    border-style: solid;
    border-color: #ff0000 #0000ff;
}

th,td{
    text-align: center !important;
}
